<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  FreeTrialCTA,
  CopyMedia,
  Copy,
  CopyResources,
  PullQuote,
  Benefits,
} from '../../../components/common/index';
import {
  FeatureShowcase as PartnersFeatureShowcase,
  PartnersCTA as PartnersCallToAction,
} from '../../../components/partners/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    FreeTrialCTA,
    CallToAction,
    PartnersCallToAction,
    PartnersFeatureShowcase,
    CopyMedia,
    Copy,
    CopyResources,
    PullQuote,
    Benefits,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const partner = await $content(
        `partners/technology-partners/${params.partner}`,
      ).fetch();
      return { partner };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).partner, this.$route.path);
  },
});
</script>

<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="component in partner.components"
      :key="component.name"
      :data="component.data"
    />
    <FreeTrialCTA variant="image" type="pricing" />
  </SlpContainer>
</template>
