<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    links: {
      required: true,
      type: Array,
    },
    sensitivity: {
      type: Number,
      required: false,
      default: 0.25,
    },
  },
  data() {
    return {
      currentLinkIndex: 0,
      isDarkMode: false,
    };
  },

  mounted() {
    // The height of an absolutely positioned container must be set for the sticky property to work
    document
      .getElementById('side-navigation')
      ?.setAttribute(
        'style',
        `height: ${document.getElementById('side-nav-parent')?.clientHeight}px`,
      );

    window.addEventListener('load', () => {
      const children = Array.from(
        document.getElementById('side-nav-parent')?.children,
      ).slice(1);

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              this.currentLinkIndex = children.findIndex(
                (item) => item === entry.target,
              );
            }
          });
        },
        {
          root: null,
          rootMargin: '0px',
          threshold: this.sensitivity,
        },
      );

      children.forEach((section) => observer.observe(section));
    });
  },
});
</script>

<template>
  <div id="side-nav-parent">
    <div id="side-navigation" class="side-navigation">
      <ul class="side-navigation__wrapper">
        <li
          v-for="(link, index) in links"
          :key="link.title"
          class="slp-py-8 slp-my-8"
        >
          <SlpTypography
            class="side-navigation__text slp-pb-4"
            :class="{
              'side-navigation__text--hover': index === currentLinkIndex,
              'side-navigation__text--dark': isDarkMode,
            }"
            variant="all-caps"
            tag="a"
            :href="link.href"
          >
            {{ link.title }}
          </SlpTypography>
        </li>
      </ul>
    </div>
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.side-navigation {
  position: absolute;
  z-index: 1;

  &__wrapper {
    position: sticky;
    margin-top: $spacing-96;
    padding-bottom: $spacing-24;
    width: 90px;
    display: none;
    top: 256px;

    @media (min-width: $breakpoint-lg) {
      display: block;
      margin-left: 4vw;
    }
    @media (min-width: $breakpoint-2xl) {
      margin-left: 100px;
    }
  }

  &__text {
    transition: all 0.25s ease;
    opacity: 0.2;
    font-weight: 700;
    line-height: 12px;
    text-decoration: none;
    color: #171321;

    &--dark {
      color: #fff;
    }

    &:hover {
      text-decoration: none;
    }

    &--hover {
      box-shadow: inset 0 -2px 0 0 #7759c2;
      opacity: 1;
    }
  }
}
</style>
