<script lang="ts">
import Vue from 'vue';
import SlpNavigationHOC from '~/components/navigation/navigation-hoc.vue';
import MinimizedFooter from '~/components/footer/minimized-footer.vue';

export default Vue.extend({
  components: {
    SlpNavigationHOC,
    MinimizedFooter,
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href:
            this.$route.path === '/'
              ? 'https://about.gitlab.com/'
              : `https://about.gitlab.com${this.$route.path}/`,
        },
      ],
    };
  },
});
</script>

<template>
  <div>
    <SlpNavigationHOC />
    <Nuxt role="main" />
    <MinimizedFooter />
  </div>
</template>
