<script>
export default {
  props: {
    testVariant: {
      type: Number,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      submitSuccess: false,
    };
  },
  mounted() {
    const self = this;
    window.MktoForms2.setOptions({
      formXDPath: '/rs/194-VVC-221/images/marketo-xdframe-relative.html',
    });
    window.MktoForms2.loadForm(
      '//page.gitlab.com',
      '194-VVC-221',
      3312,
      // eslint-disable-next-line func-names
      function (form) {
        // eslint-disable-next-line func-names
        form.onSuccess(function () {
          self.$emit('fireSubmit');

          // eslint-disable-next-line no-undef
          dataLayer.push({
            event: 'mktoLead',
            mktoFormId: form.getId(),
            eventCallback() {
              form.getFormElem().hide();
              document.getElementById('confirmform').style.display = 'block';
            },
            eventTimeout: 3000,
          });
          return false;
        });
        function getgacid() {
          try {
            const tracker = ga.getAll()[0]; // eslint-disable-line no-undef
            return tracker.get('clientId');
          } catch (e) {
            return 'n/a';
          }
        }
        form.vals({
          gacid: getgacid(),
        });
      },
    );
  },
};
</script>

<template>
  <div class="mkto-roi-form-wrapper" :class="testVariant == 2 && 'optional'">
    <div v-if="!submitSuccess" class="form-header">
      <SlpTypography variant="heading4-bold" tag="h3">
        {{
          testVariant == 1
            ? 'Please fill out this form to view your results'
            : ''
        }}
        {{ testVariant == 2 ? "Have a question? We're here to help." : '' }}
      </SlpTypography>
      <SlpTypography variant="body2" tag="p">
        All fields are required
      </SlpTypography>
    </div>
    <div v-if="submitSuccess && testVariant == 2">
      <SlpTypography variant="heading4-bold" tag="h3"
        >Submission received!</SlpTypography
      >
    </div>

    <script src="//page.gitlab.com/js/forms2/js/forms2.min.js"></script>

    <form id="mktoForm_3312"></form>
  </div>
</template>

<style lang="scss" scoped>
.mkto-roi-form-wrapper {
  h3 {
    margin-bottom: $spacing-16;
    text-align: left;
  }
  p {
    font-style: italic;
    margin-bottom: $spacing-16;
    text-align: left;
  }
}
.mkto-roi-form-wrapper.optional {
  background: $color-surface-100;
  padding: 40px 186px;
  border-radius: 0 0 $spacing-8 $spacing-8;
  border: 2px solid $color-surface-200;

  @media (max-width: $breakpoint-md) {
    padding: 40px $spacing-16;
  }
}

.form-header {
  @media (max-width: $breakpoint-md) {
    padding: 0 10px; // matches padding added to form from Marketo
  }
}

// Marketo-specific style overrides are located in _marketo.scss
</style>
