<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SolutionsHero',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>
<template>
  <section class="hero-wrapper">
    <div class="container slp-mb-md-48 slp-overflow-x-hidden">
      <SlpRow class="container__row">
        <SlpColumn :cols="6">
          <div class="text">
            <SlpTypography
              tag="h1"
              variant="heading1-bold"
              class="slp-mt-48 slp-mt-md-0 slp-mb-16"
              >{{ data.title }}</SlpTypography
            >
            <SlpTypography v-if="data.subtitle" tag="p" variant="heading5">{{
              data.subtitle
            }}</SlpTypography>
          </div>
          <div class="buttons slp-mt-32">
            <SlpButton
              v-if="data.primary_btn"
              variant="primary"
              class="slp-mb-8"
              :data-ga-name="data.primary_btn.data_ga_name || 'join gitlab'"
              :data-ga-location="data.primary_btn.data_ga_location || 'header'"
              :href="data.primary_btn.url || '/free-trial/'"
              >{{ data.primary_btn.text }}</SlpButton
            >
            <SlpButton
              v-if="data.secondary_btn"
              :variant="data.secondary_btn.variant || 'secondary'"
              class="slp-mb-8"
              :href="data.secondary_btn.url || '/sales/'"
              :data-ga-name="data.secondary_btn.data_ga_name || 'contact sales'"
              :data-ga-location="
                data.secondary_btn.data_ga_location || 'header'
              "
              >{{ data.secondary_btn.text || 'Contact Sales' }}
              <SlpIcon
                v-if="data.secondary_btn.icon"
                :name="data.secondary_btn.icon.name"
                :variant="data.secondary_btn.icon.variant"
            /></SlpButton>
          </div>
        </SlpColumn>
        <SlpColumn :cols="6" class="column">
          <div
            class="image-container"
            :class="{
              'image-container--bordered': data.image.bordered,
              'image-container--alt': data.image.no_image_alt,
              'image-container--rounded': data.image.rounded,
              'image-container--no-image-mobile':
                data.image.image_url_mobile ===
                '/nuxt-images/solutions/no-image-mobile.svg',
            }"
          >
            <img
              class="image"
              :class="{
                'image--bordered': data.image.bordered,
                'image--rounded': data.image.rounded,
                'image--alt': data.image.no_image_alt,
              }"
              :src="data.image.image_url"
              :alt="data.image.alt"
            />
          </div>
        </SlpColumn>
        <div class="container__purple-background" />
      </SlpRow>
    </div>
  </section>
</template>

<style lang="scss" scoped>
@import 'assets/css/animations';

.hero-wrapper {
  overflow: hidden;
  .slp-container & {
    overflow: visible;
  }
}
.container {
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;

  @media (max-width: $breakpoint-md) {
    padding: 0 $spacing-16 $spacing-8 $spacing-16;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    position: relative;

    .text {
      max-width: 500px;
    }

    .buttons {
      @media (max-width: $breakpoint-md) {
        a {
          width: 100%;
          justify-content: center;
          &:last-of-type {
            margin-bottom: $spacing-32;
          }
        }
      }
    }
  }

  .column {
    overflow: visible;
  }

  .image-container {
    display: flex;
    justify-content: right;

    @media (max-width: $breakpoint-md) {
      background: transparent;
      padding: 0;
      display: flex;
      justify-content: center;
      transform: none;
      opacity: 1;
    }

    &--bordered {
      margin: $spacing-64 0;
      @media (min-width: $breakpoint-md) {
        margin: $spacing-64 0 $spacing-64 $spacing-16;
      }
    }

    &--rounded {
      clip-path: circle(0 at 50% 50%);
      animation: circular-mask 1s ease-in-out 0.2s forwards;
      @media (min-width: $breakpoint-md) {
        margin: $spacing-64 0;
      }
    }

    &--rounded,
    &--bordered {
      width: 90vw;
      height: 90vw;
      max-width: 90vw;
      max-height: 90vw;
      transform: translateX(0) translateY(0) !important;
      @media (min-width: $breakpoint-sm) {
        width: 100%;
        height: 70vw;
        max-width: 70vw;
        max-height: 70vw;
      }
      @media (min-width: $breakpoint-md) {
        width: 45vw;
        height: 45vw;
        max-width: 480px;
        max-height: 480px;
      }
      @media (min-width: $breakpoint-lg) {
        margin: $spacing-64 0 $spacing-64 $spacing-64;
      }
    }

    &--alt {
      margin: $spacing-32 0;
      @media (min-width: $breakpoint-md) {
        padding: $spacing-48 0;
      }
    }

    &--no-image-mobile {
      justify-content: left !important;
      align-items: center;
      margin: $spacing-16 0 $spacing-48 0;
      @media (min-width: $breakpoint-md) {
        padding-top: $spacing-64;
        margin: 0 0 $spacing-24 0;
      }
      img {
        width: 130vw;
        transform: none;
        @media (min-width: $breakpoint-md) {
          width: 69vw;
          min-width: 69vw;
        }
        @media (min-width: $breakpoint-lg) {
          width: 69vw;
          min-width: 69vw;
        }
      }
    }
  }

  .image {
    border-radius: 4px;

    &--bordered,
    &--rounded {
      width: 100%;
      height: 100%;
      transform: translate(0, 0);
    }

    &--bordered {
      border-bottom-right-radius: 100px;
    }

    &--rounded {
      object-fit: cover;
      object-position: -16px 0;
    }

    &__wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &--alt {
      width: 100%;
      max-width: 70vw;
      @media (min-width: $breakpoint-sm) {
        width: 100%;
      }
      @media (min-width: $breakpoint-md) {
        width: 50vw;
      }
    }
  }
  &__purple-background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    background-color: $color-surface-800;
    left: 60%;
    height: 100%;
    width: 50vw;
    background-color: $color-surface-800;
    @media (min-width: $breakpoint-md) {
      left: 70%;
    }
    @media (max-width: $breakpoint-md) {
      transform: none;
      opacity: 1;
    }
  }
  .aos-init,
  .aos-animate {
    @media (max-width: $breakpoint-md) {
      transform: none;
      opacity: 1;
    }
  }
}
</style>
